$browser-context: 16;

$font-family--main: 'Open Sans', Helvetica, Arial, sans-serif;

$color--dark: #333;
$color--light: #F8F9FA;
$color--light-opacity: rgba(255,255,255,0.3);
$color--gray: #495057;
$color--border-light: #CED4DA;
$color--blue: #373E82;

$bg--lavender: #E1E5F2; 
$bg--blue: #454EA4;
$gradient--blue: linear-gradient(90deg, #22264F 0%, rgba(113, 120, 186, 0) 100%);

$border--gray: #C4C4C4;