$browser-context: 16;

$font-family--main: 'Open Sans', Helvetica, Arial, sans-serif;

$color--dark: #333;
$color--light: #F8F9FA;
$color--light-opacity: rgba(255,255,255,0.3);

$color--border-light: #CED4DA;
 
$blue--bg: #454EA4;