@import "../abstracts/index";

#mod-banner{width:100%;position:relative;
    .banner-content{width:100%;height: rem(500);background-size: cover;background-repeat: no-repeat;display:flex;align-items:center;justify-content:center;background-position:center;
        .banner-text-wrapper{
            .banner-title{display: block;@include font(18,22,$font-family--main);color:$color--light}
            .banner-link{margin-top: rem(16);}
        }
    }

    .scroll-btn{display: none;cursor:pointer;position:absolute;right:rem(32);top:63%;
        .scroll-text{@include font(12,18,$font-family--main);color: $color--light-opacity;transition: all 0.3s ease;}
        .scroll-line{height: rem(50);margin-top: rem(17);width: rem(1);background: $color--light-opacity;margin-left: auto;margin-right: auto;transition: all 0.3s ease;}

        &:hover{
            .scroll-text{color:$color--light;}
            .scroll-line{color: $color--light;}
        }
    }

    .banner-socialmedia{position:absolute;top:100%;right:rem(20);transform: translateY(-110%);
        .social-media-btn{display:block;margin-top: rem(8);}
    }
}

@media screen and (min-width: 992px) {
    #mod-banner{
        .banner-content{height: rem(802);
            .banner-text-wrapper{
                .banner-title{@include font(28,38,$font-family--main);}
                .banner-link{height:rem(50);width:rem(170);@include font(16,20,$font-family--main);}
            }
        }

        .scroll-btn{display: block;}

        .banner-socialmedia{top:63%;left:rem(32);right:auto;transform: translateY(0);
            .social-media-btn{
                img{opacity: 0.3;transition: 0.3s ease all;
                    &:hover{opacity: 1;}
                }
            }
        }
    }
}