@import "../abstracts/index";

#contacts{background: #373E82;position: relative;padding-bottom:rem(25);
    .contacts-wrapper{background: $bg--blue;padding-top: rem(22);padding-bottom:rem(22);
        .title{@include font(24,34,$font-family--main);color: $color--light;padding-top: rem(12);padding-bottom: rem(14);text-align: center;}
        .text-content{display: block;justify-content:center;padding: 0 rem(20);overflow:hidden;
            .email-wrapper{display: inline;}
            .mobile-text{@include font(15,18,$font-family--main);color: $color--light-opacity;text-transform: uppercase;display: block;}
            .mobile-content{@include font(15,18,$font-family--main);color:$color--light;display: block;padding-bottom:rem(12);}
            .email-text{@include font(15,18,$font-family--main);color: $color--light-opacity;text-transform: uppercase;display: block;}
            .email-content{@include font(15,18,$font-family--main);color:$color--light;display: block;}
        }
    }
}

@media screen and (min-width: 576px) {
    #contacts{
        .contacts-wrapper{
            .text-content{display: flex;}
            .mobile-text{display: inline;margin-right: rem(5);}
            .mobile-content{display: inline;padding-bottom: 0px;}
            .email-text{display: inline;margin-left: rem(32);margin-right: rem(5);}
            .email-content{display: inline;text-align: left;}
        }
    }
}

@media screen and (min-width: 992px) {
    #contacts{height: rem(101);
        .contacts-wrapper{width: rem(531);height: rem(153);background: $bg--blue;border-radius: 8px;position: absolute;margin-top: rem(-162);left: 50%;transform: translateX(-50%);text-align:left;
            .text-content{display: flex;}
            .mobile-text{display: inline;margin-right: rem(5);}
            .mobile-content{display: inline;}
            .email-text{display: inline;margin-left: rem(32);margin-right: rem(5);}
            .email-content{display: inline;}
        }
    }
}