@import "../abstracts/index";

#mod-discografia{margin-bottom: rem(55);margin-top: rem(-204);
    .custom-container{
        .swiper-slide{
            .item{margin-right: 0;}
        }
    }
    .swiper-slide{
        .item{
            .disco-image{width:273px;height:273px;filter:blur(3px);transition:all 0.3s ease;border-radius: 3px;transform: scale(0.91);}
            .disco-title{@include font(38,51,$font-family--main);color:$color--gray;font-weight: 600;}
            .disco-year{@include font(12,18,$font-family--main);font-weight: 600;color:$color--gray;margin-top: rem(4);}
            .disco-desc{@include font(16,24,$font-family--main);font-weight: 400;color:$color--gray;margin-top: rem(22);}
        }

        &.swiper-slide-active{
            .disco-image{filter: blur(0px);transform: scale(1);}
        }
    }

    .info-slider-wrapper{margin-top: rem(47);}

    .slider-controller{justify-content: center;margin-top: rem(42);display:flex;align-items:center;
        .slide-number{@include font(12,18,$font-family--main);}
        .left{padding-right: rem(16);display: block;}
        .right{transform: rotate(180deg);padding-right: rem(16);display: block;}
    }
}

@media screen and (min-width: 992px) {
    #mod-discografia{
        .custom-container{
            .swiper-slide{
                .item{margin-right: rem(30);}
            }
        }
    }
}