@import "../abstracts/index";

#quotes {
    padding-top: rem(44);
    background: #fff;
    padding-bottom: rem(44);
    overflow: hidden;
    .title {
        @include font(12, 18, $font-family--main);
        color: #868e96;
        text-align: center;
        padding-bottom: rem(30);
    }
    .marquee {
        @include font(18, 34, $font-family--main);
        color: #868e96;
        text-align: left;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 10s linear infinite;
        -webkit-animation: scroll-left 10s linear infinite;
        animation: scroll-left 10s linear infinite;
        padding-bottom: rem(10);
    }
    .delay {
        margin-top: rem(-10);
        animation-delay: 5s;
    }
}

@media screen and (min-width: 768px) {
    #quotes{
        .title{@include font(16,20,$font-family--main);}
        .marquee{
            @include font(28,38,$font-family--main);
        }
    }
}
@media screen and (min-width: 992px) {
    #quotes{
        padding-bottom: rem(44);
        .marquee{
            @include font(38,51,$font-family--main);
        }
    }
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
