@import "../abstracts/index";
*{box-sizing: border-box;}
.custom-container{display:flex;width:auto;max-width: none;margin:0 auto;padding: 0 rem(20);}
a{text-decoration: none;}
body{background:$bg--lavender;overflow-x: hidden;}
section{max-width: 100%;}

#presskits{padding-top: rem(19);padding-bottom:rem(19);display:flex;width:100%;justify-content:center;align-items:center;
    .dl-btn{align-items: center;margin:0 rem(32);display:flex;align-items:center;
        .dl-text{@include font(12,18,$font-family--main);color:$color--gray;margin-right:rem(16);
        &:hover{
            text-decoration: underline;
        }
    }
    }
}

.MuiModal-root{
    .MuiDrawer-paperAnchorRight{background: $bg--blue;
        .nav-list{padding: 0 rem(20);
            .nav-li{list-style: none;padding-bottom:rem(8);
                a{@include font(16,18,$font-family--main);color:$color--light;}
            }
        }
    }
}

.MuiPaper-root{
    .MuiMenuItem-root{transition: all 0.3s ease;@include font(14,22,$font-family--main);
        &:hover{background: $bg--blue;color: $color--light;}
    }
    .Mui-focusVisible{background: $bg--blue !important;color:$color--light !important;}
}

.goog-te-gadget{display:none !important;}
.skiptranslate select{display: none !important;}

@media screen and (min-width: 1200px) {
    .custom-container{display:flex;width:100%;max-width: rem(1136);margin:0 auto;padding: 0;}
}